* {
  box-sizing: border-box;
}

.duck {
  width: 120px;
  max-height: 90px;
}

body {
  background-color: aquamarine;
  color: antiquewhite;
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr 1fr;
  min-height: 100vh;
}

/* grid styles referes to lines not the box! will take reference from above layout */
/* grid area, gridrowstart/ gridcolumnstart/ gridrowend/ gridcolumnend */
header {
  min-height: 130px;
  text-align: center;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
  grid-area: 1 / 1 / 2 / 3;
  background: rgb(208, 224, 9);
  background: radial-gradient(
    circle,
    rgba(208, 224, 9, 1) 45%,
    rgba(93, 182, 139, 1) 60%
  );
  text-decoration-line: underline;
  text-decoration-color: darkcyan;
  text-decoration-style: wavy;
  text-shadow: 3px 3px 3px black;
}

#results {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(78, 125, 125);
  color: black;
}

#main-container {
  padding-top: 100px;
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(104, 162, 143);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#img-container img {
  max-width: 30%;
  max-height: 300px;
  justify-content: space-around;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  background: rgb(16, 238, 238);
}

#lorem-container {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  height: 150px;
  width: 800px;
}
